.padtopbottom{
  padding-top: 20px;
  padding-bottom: 10px;
}
.splashhomecontentbottom{
  width: 165px;
  margin-left: auto;
  margin-right: auto;
}
.splashhomecontentmerginleft{
  margin-left: 70px;
}
.unsetpaddingleft{
  padding-left: 0px;
}

.stb-logo.homesplashlogo{
  top: 0.8rem;
}

.margin-left{
  margin-left: 25px;
}

.no-italics {
    font-style: normal;
}

.title-fontsize{
  font-size: 1.75em;
}

.latest-post-title{
  font-size: 18px;
}
.latest-post-title-title{
  font-weight: 600;
}
.latest-post-content{
  font-size: 14px;
}
