@media (max-width: 1480px){
  .searchbar.settinginbody{
    top: 109px;
  }
}
@media (max-width: 1332px){
  .searchbar.settinginbody{
    top: 109px;
  }
}
@media (max-width: 1332px){
  .searchform input#s{
    width: 70%;
  }
  .searchbar.settinginbody{
    // top: 16vh;
    top: 115px;
  }
}
@media (max-width: 1246px){
  .splash .wallpaper{
    height: 359px;
  }
  // .index-divider {
  //   height: 452px;
  // }
}
@media (max-width: 1149px ){
  // .index-divider {
  //     height: 495px;
  // }
}
@media (max-width: 1136px){
  .data-central a {
      padding: 0.3em .3rem;
      font-size: 14px;
  }
  // .index-divider {
  //   height: 468px;
  // }
}


@media (max-width: 1136px){
  .searchform input#s{
    width: 75%;
  }
}
@media (max-width: 1009px){
  // .index-divider {
  //   height: 490px;
  // }
}
@media (max-width: 1102px){
  .searchform input#s{
    width: 75%;
  }
}

@media (max-width: 1077px){
  .searchform input#s{
    width: 75%;
  }

  .searchbar.settinginbody{
    top: 115px;
  }
}

@media (max-width: 1033px) {
  .title-fontsize.splash-title{
    font-size: 2.5em;
    top:18px;
  }
  .splashhomecontentbody{
    font-size: 15px;
    margin-top: 0;
  }

}

@media (max-width: 1025px){
  .searchform input#s{
    width: 75%;
  }
  .searchbar.settinginbody{
    top: 105px;
  }
}

@media (max-width: 1024px){
  .searchbar.settinginbody{
    top: 143px;
  }
}

@media (max-width: 982px){
  .searchbar.settinginbody{
    top: 143px;
  }
  .splash .wallpaper{
    height: 381px;
  }
}
@media (max-width: 978px){
  // .index-divider {
  //   height: 520px;
  // }
}
@media (max-width: 900px){
  .searchform input#s{
    width: 72%;
  }
}
@media (max-width: 868px){
  .title-fontsize.splash-title {
    font-size: 2em;
  }
}
@media (max-width: 783px){
  .searchbar.settinginbody{
    top: 136px;
  }
  // .index-divider {
  //   height: 545px;
  // }
}
@media (max-width: 768px){

  // .index-divider{
  //   height: 710px;
  // }
  .news{
    padding: 0 2em 2em 2rem;
  }
}
@media (max-width: 703px){
  .title-fontsize.splash-title {
    font-size: 1.5em;
  }
}
