input#searchsubmit {
    color: #ffffff!important;
    background: #29363e;
    border-color: #29363e;
    border-radius: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    background-color: #29363e;
    padding: 2px 7px;
}

.searchform input#s {
    height: 27px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 70%;
}
#button.searchonmenu{
  height: 27px;
  padding: 5px 15px;
}
.searchdiv{
  margin: -5px;
  padding: 0;
  border: 0;
}
